@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Barcode+128+Text&display=swap');




.pic{
    image-rendering: crisp-edges;
    position: fixed;
    opacity: 0.8;
}

.thanq{
    font-size: 132px;
    font-weight: 800;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
}

.thanqs{
    font-size: 48px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

}

.text{
 position: absolute;
 align-items: center;
 color: rgb(0, 0, 0);
 top: 20%;
 left: 20%;
 margin-left: 6%;
}

.btn{
    position: absolute;
    padding: 16px;
    width: 120px;
    height: 66px;
    border-color: black;
    border-radius: 18px;
    left: 86%;
    top: 80%;
    background-color: black;
}

.icon{
    color: rgb(255, 255, 255);
    font-weight: 800px;
    font-size: 32px;
    background-color: black;
}